AppPrototyp/ios/Podfile.lock
AppPrototyp/ios/Flutter/AppFrameworkInfo.plist
AppPrototyp/ios/Flutter/AppFrameworkInfo.plist
AppPrototyp/ios/Runner.xcodeproj/project.pbxproj
AppPrototyp/ios/Runner.xcworkspace/contents.xcworkspacedata
